body {
    background-color: #000;
    color: #fff;
    border-color: #c0c0c0;
    font-family: system-ui;
}
h1 {
    text-align: center;
}
a {
    color: red;
    margin-left: 20em;
}
small > a {
    margin-left: 0em;
}
a.dl-alt {
    margin-left: 0em;
}